llama-index==0.11.7
llama-index-embeddings-huggingface==0.3.1
llama-index-storage-docstore-mongodb==0.2.0
llama-index-vector-stores-milvus==0.2.3
llama-index-retrievers-bm25==0.3.0
motor==3.5.1
pymilvus==2.4.6
PyMuPDF==1.24.10
keybert==0.8.5
llama-index-llms-mistralai==0.2.2
llama-parse==0.5.2
llama-index-llms-anthropic==0.3.1
llama-index-multi-modal-llms-anthropic==0.2.2
llama-index-postprocessor-flag-embedding-reranker==0.2.0
FlagEmbedding==1.2.11
llama-index-postprocessor-colbert-rerank==0.2.1